<div class="footer-container">
    <div class="footer-content">
        <div class="description-info">
            * Numai pentru abonați noi. 23,99 lei/lună după expirarea perioadei de încercare gratuită. Abonamentul se
            reînnoiește automat, până când este anulat. Se aplică anumite condiții.
            Necesită hardware și software compatibile. Nu tot conținutul este disponibil în Audio spațial cu Dolby
            Atmos.
            Apple Music 1, Apple Music Hits și Apple Music Country sunt disponibile fără un abonament Apple Music.
            Funcția Cântați cu Apple Music funcționează pe iPhone 11 și modelele ulterioare sau iPhone SE (a 3-a
            generație) cu iOS 16.2 sau o versiune ulterioară, iPad Pro de 11 inchi (a 3-a generație și modelele
            ulterioare), iPad Air (a 4-a generație și modelele ulterioare), iPad mini (a 6-a generație) sau iPad (a 9-a
            generație și modelele ulterioare) cu iPadOS 16.2 sau o versiune ulterioară și Apple TV 4K (a 3-a generație).
            Doar pentru studenți. Necesită confirmarea statutului de student.
            Necesită Share cu familia. Accesează apple.com/family-sharing pentru mai multe informații.
            Perioada de încercare gratuită este disponibilă doar pentru noii abonați. Abonamentul se reînnoiește la
            prețul declarat pe lună, până când este anulat.
            "Umbrella (feat. JAY Z)" compusă de Christopher Stewart, Terius Nash, Thaddis Harrell, Shawn Carter.
            "Green Light" compusă de Ella Yelich-O’Connor, Jack Antonoff, Joel Little.
        </div>

        <div class="separator"></div>

        <div class="marity-business-logo">Marity Business</div>

        <div class="footer-columns">
            <div class="column-item social-media">
                <div class="social-link">
                    <img src="assets/images/icons/social-icons/facebook_icon.svg"
                        alt="social_media_icon"><span>Facebook</span>
                </div>
                <div class="social-link">
                    <img src="assets/images/icons/social-icons/instagram_icon.svg"
                        alt="social_media_icon"><span>Instagram</span>
                </div>
                <div class="social-link">
                    <img src="assets/images/icons/social-icons/pinterest_icon.png"
                        alt="social_media_icon"><span>Pinterest</span>
                </div>

            </div>
            <div class="column-item">
                <span class="footer-column-label">Despre noi</span><span
                    class="footer-column-label">Functionalitati</span><span
                    class="footer-column-label">Promotii</span><span class="footer-column-label">Abonamente</span><span
                    class="footer-column-label">Integrare</span><span class="footer-column-label">Contact</span>
            </div>
            <div class="column-item">
                <span class="footer-column-label">Suport</span><span class="footer-column-label">Cariere</span><span
                    class="footer-column-label">Parteneri</span><span
                    class="footer-column-label">Confidentialitate</span><span class="footer-column-label">Etica si
                    conformitate</span>
            </div>
            <div class="column-item">
                <div class="download">
                    <img class="logo-footer-marity" src="/assets/images/marity_square_logo_small.svg" alt="">
                    <span>Descarca Marity</span>

                </div>
                <div class="marity-download-buttons">
                    <img src="/assets/images/download_button_app_store.svg" alt="" class="download-logo"><img
                        src="/assets/images/download_button_google_play.svg" alt="" class="download-logo">

                </div>
            </div>
        </div>

    </div>
</div>