/* You can add global styles to this file, and also import other style files */
@import "/src/assets/css/variables.scss";

.header {
  height: 56px;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 16px;

  .navigation-wrapper {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .mar-logo {
      @media (max-width: $max-width-for-mobile) {
        display: none;
      }
    }

    .marity-business-logo {
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      display: flex;
      align-items: center;
      color: #724c9b;
      background: linear-gradient(180deg, #ff2c62 0%, #724c9b 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;

      @media (min-width: $max-width-for-mobile) {
        display: none;
      }
    }

    .navigation-items {
      display: flex;
      gap: 48px;

      .navigation-item {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        position: relative;
        cursor: pointer;

        &.active {
          color: #724c9b;

          &::before {
            content: "";
            position: absolute;
            bottom: -21px;
            border-bottom: 5px solid #724c9b;
            width: 100%;
            display: block;
            border-radius: 4px 4px 0 0;
          }
        }
      }

      @media (max-width: $max-width-for-mobile) {
        display: none;
      }
    }

    .header-list-button {
      cursor: pointer;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      background: none;

      @media (max-width: $max-width-for-mobile) {
        display: none;
      }
    }

    .burger-menu {
      @media (min-width: $max-width-for-mobile) {
        display: none;
      }
    }
    @media (max-width: $max-width-for-mobile) {
      width: 100%;
    }

    @media only screen and (max-width: 1024px) and (min-width: 768px) {
      width: $max-content-width-for-tablet;
    }
  }
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .logo-marity-mid {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.24));
    margin-top: 64px;

    @media (max-width: $max-width-for-mobile) {
      width: 56px;
    }
  }

  .marity-business-label {
    margin: 12px 0 24px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
  }

  .marity-download-buttons {
    display: flex;
    gap: 8px;
    margin-bottom: 24px;

    @media (max-width: $max-width-for-mobile) {
      gap: 24px;
    }
  }

  .title-main-label {
    font-weight: 700;
    font-size: 88px;
    line-height: 105px;
    text-align: center;
    background: linear-gradient(180deg, #ff2c62 0%, #724c9b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    max-width: 700px;

    @media (max-width: $max-width-for-mobile) {
      font-weight: 700;
      font-size: 44px;
      line-height: 53px;
      max-width: 342px;
    }
  }

  .button-try-now {
    margin: 16px 0;
    padding: 16px;
    color: white;
    background: linear-gradient(275.63deg, #724c9b 0%, #ff2c62 100%);
    border-radius: 12px;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;

    @media (min-width: $max-width-for-mobile) {
      display: none;
    }
  }

  .just-married-pic {
    margin: 24px 0 72px;
    padding: 0 64px;
    max-width: 905px;
    width: 100%;

    @media (max-width: $max-width-for-mobile) {
      width: 100%;
      padding: 0 16px;
      max-width: 500px;
      min-width: 300px;
    }
  }

  .choose-supplier {
    text-align: center;
    max-width: 700px;
    margin-bottom: 24px;

    .title-s {
      margin: 0 auto;
      font-weight: 700;
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 18px;
    }

    .subtitile-s {
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      opacity: 0.6;
    }

    @media (max-width: $max-width-for-mobile) {
      max-width: 290px;
    }
  }
}

.schedule-for-mobile {
  height: 215px;
  background-image: url("/assets/images/wedding_day.svg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $max-width-for-mobile) {
    display: none;
  }
}

.schedule-container {
  position: relative;
  padding: 90px 32px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 84px;
  height: 560px;
  background-image: url("/assets/images/wedding_day.svg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: $max-width-for-mobile) {
    height: fit-content;
    padding: 32px 16px;
    margin-bottom: 0;
    background-image: none;
    background-color: black;
  }

  .schedule-content {
    width: 936px;
    height: 100%;
    display: flex;
    position: relative;

    @media (max-width: $max-width-for-mobile) {
      display: flex;
      flex-direction: column;
    }

    .text-description {
      align-self: center;
      color: white;
      font-weight: 700;
      font-size: 64px;
      line-height: 76px;

      @media (max-width: $max-width-for-mobile) {
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        text-align: center;
        margin-bottom: 16px;
      }
    }

    .button-transparent {
      position: absolute;
      bottom: 0;
      right: 0;
      min-width: 256px;
      border: 1px solid white;
      background-color: transparent;
      color: white;
      border-radius: 20px;
      padding: 16px 24px;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      align-self: flex-end;

      @media (max-width: $max-width-for-mobile) {
        position: relative;
        align-self: center;
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to top,
      rgb(0 0 0 / 62%),
      rgba(0, 0, 0, 0)
    );
  }
}

.titles-container {
  @media (max-width: $max-width-for-mobile) {
    padding: 24px 16px;
  }

  .discover-label {
    text-align: center;
    max-width: 652px;
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
    background: linear-gradient(180deg, #ff2c62 0%, #724c9b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 80px auto 16px;

    @media (max-width: $max-width-for-mobile) {
      font-weight: 700;
      font-size: 44px;
      line-height: 53px;
      width: auto;
    }
  }
}

.gray-background-section {
  background-color: #f2f2f2;
  padding-bottom: 80px;

  @media (max-width: $max-width-for-mobile) {
    padding-bottom: 16px;
  }
}

.ghost {
  @media (min-width: $max-width-for-mobile) {
    display: none;
  }
}

.bottom-sheet-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  transition: transform 0.3s;
  z-index: 1;

  &.hidden {
    transform: translateY(100%);
  }
}
