@import "/src/assets/css/variables.scss";

.content {
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 80px 16px;
  max-width: 936px;
  margin: 0 auto;

  @media (max-width: $max-width-for-mobile) {
    padding: 48px 16px;
  }
  .sub-cont-logo {
    @media (max-width: $max-width-for-mobile) {
      width: 64px;
    }
  }

  .logo-descr {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-top: 8px;
  }

  .subscr-title {
    margin: 36px 0 16px;
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
    max-width: 634px;
    text-align: center;

    @media (max-width: $max-width-for-mobile) {
      font-weight: 700;
      font-size: 40px;
      line-height: 48px;
      margin: 16px 0;
      text-align: center;
      max-width: 360px;
    }
  }

  .subtitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 80px;

    @media (max-width: $max-width-for-mobile) {
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      margin-bottom: 40px;
    }
  }

  .prices {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-self: end;

    @media (max-width: $max-width-for-mobile) {
      flex-direction: column;
      align-self: center;
      gap: 48px;
    }

    .price-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;

      .prices-text {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
      }

      .button-price {
        padding: 8px 16px;
        background: linear-gradient(180deg, #ff2c62 0%, #724c9b 100%);
        border-radius: 12px;
        color: white;

        @media (max-width: $max-width-for-mobile) {
          background: linear-gradient(275.63deg, #724c9b 0%, #ff2c62 100%);
          border-radius: 12px;
          padding: 16px;
        }
      }
    }
  }

  .prices-only-mobile {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 32px 0 24px;

    .prices-text {
      padding: 12px;
      border-bottom: 1px solid black;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
    }

    @media (min-width: $max-width-for-mobile) {
      display: none;
    }
  }

  .subscr-description {
    padding: 16px 0;
    display: flex;
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.322);
    width: 100%;
    align-items: center;

    @media (max-width: $max-width-for-mobile) {
      flex-direction: column;
    }

    .description-text {
      width: 50%;

      @media (max-width: $max-width-for-mobile) {
        width: 100%;
        margin-bottom: 16px;
      }
    }
    .checks-container {
      width: 50%;
      display: flex;
      justify-content: space-between;
      padding: 0px 55px;

      @media (max-width: $max-width-for-mobile) {
        width: 100%;
        margin-bottom: 16px;
      }
    }
  }
}
