/* You can add global styles to this file, and also import other style files */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(190, 190, 190);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: grey;
}

* {
  box-sizing: border-box;
  font-family: "SF Pro Display";
}

h1,
h2 {
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/assets/fonts/SFProDisplay-Regular.ttf") format("truetype");
}

html,
body {
  margin: 0;
  background-color: #f2f2f2;
  user-select: none;
  height: 100%;
}
