<div class="phones-frames-wrapper">
    <div *ngFor="let phoneFrame of phoneFrameContentArray" class="phone-frame-container"
        [ngClass]="[phoneFrame.className]">
        <div class="tit-wrapper">
            <div class="title">{{phoneFrame.title}}</div>
            <div class="description">{{phoneFrame.description}}</div>
            <button class="button-start"
                *ngIf="phoneFrame.buttonText && phoneFrame.showOnMobile">{{phoneFrame.buttonText}}<img
                    [src]="phoneFrame.buttonArrow" alt=""></button>
            <div *ngIf="phoneFrame?.mobileDescr" class="no-button-text">{{phoneFrame.mobileDescr}}</div>
        </div>
        <div class="image-wrapper"><img class="phone-image" [src]="phoneFrame.pictureSrc" alt="phone_picture"></div>
    </div>
</div>